{% extends 'base.html.twig' %}

{% block title %}Achats singlespeed{% endblock %}

{% block body %}
<!--==================== NEW ====================-->
<section class="new section container" id="new">
    <h2 class="section_title">
        Les nouveautées
    </h2>
    
    <div class="new_container">
        <div class="swiper new-swiper">
            <div class="swiper-wrapper">
                <article class="new_card swiper-slide">
                    <span class="new_tag">New</span>

                    <img src="assets/img/new1.png" alt="" class="new_img">

                    <div class="new_data">
                        <h3 class="new_title">Longines rose</h3>
                        <span class="new_price">$980</span>
                    </div>

                    <button class="button new_button">ADD TO CART</button>
                </article>

                <article class="new_card swiper-slide">
                    <span class="new_tag">New</span>

                    <img src="assets/img/new2.png" alt="" class="new_img">

                    <div class="new_data">
                        <h3 class="new_title">Jazzmaster</h3>
                        <span class="new_price">$1150</span>
                    </div>

                    <button class="button new_button">ADD TO CART</button>
                </article>

                <article class="new_card swiper-slide">
                    <span class="new_tag">New</span>

                    <img src="assets/img/new3.png" alt="" class="new_img">

                    <div class="new_data">
                        <h3 class="new_title">Dreyfuss gold</h3>
                        <span class="new_price">$750</span>
                    </div>

                    <button class="button new_button">ADD TO CART</button>
                </article>

                <article class="new_card swiper-slide">
                    <span class="new_tag">New</span>

                    <img src="assets/img/new4.png" alt="" class="new_img">

                    <div class="new_data">
                        <h3 class="new_title">Portuguese rose</h3>
                        <span class="new_price">$1590</span>
                    </div>

                    <button class="button new_button">ADD TO CART</button>
                </article>                       
            </div>
        </div>
    </div>
</section>

<!--==================== NEWSLETTER ====================-->
<section class="newsletter section container">
    <div class="newsletter_bg grid">
        <div>
            <h2 class="newsletter_title">Subscribe Our <br> Newsletter</h2>
            <p class="newsletter_description">
                Don't miss out on your discounts. Subscribe to our email 
                newsletter to get the best offers, discounts, coupons, 
                gifts and much more.
            </p>
        </div>

        <form action="" class="newsletter_subscribe">
            <input type="email" placeholder="Enter your email" class="newsletter_input">
            <button class="button">
                SUBSCRIBE
            </button>
        </form>
    </div>
</section> 

{% endblock %}
