<h1>Bonjour, veuillez confirmer votre inscription</h1>

<p>
    confirmer votre inscription en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">confirmer votre inscription </a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    cordialement !
</p>
