{% extends 'base.html.twig' %}

{% block title %}Hello PrivacyController!{% endblock %}

{% block body %}
    <section class="privacy section container">
        <h2 class="section_title">
            Notre politique de confidentialité
        </h2>
        
    </section>
{% endblock %}
